
* {  box-sizing: border-box; } /* making width inclusive of padding and margins */

body {  margin: 0; } /* to eliminate idle irritating space that prevents true fullscreen effect */


/****** setting up the whole_page_div *****/
/****** it holds both the menu bar and video element  ****/
#whole_page_div{
  position: relative;  /* whole_page_div is relative to the .body */
  height: 100vh;      /* occupies the whole viewport height*/
  width: 100vw;      /* occupies the whole viewport width*/
  overflow: hidden;  /* removes all the scroll bars if content does not fit */
}

/**************** dealing with the background_video *******/
#background_video{
  position: absolute; /* absolute to the whole_page_div */
  width: auto;   /* helps maintain the width aspect ratio of the video while scaling */
  height: auto; /* helps maintain the height aspect ratio of the video while scaling */
  min-width: 100%; /* video occupies all the available width in the container div */
  min-height: 100%; /* video occupies all the available height in the container div */
  /* but we need to put video at the centre... to make it responsive */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

/* start of settings for the navigation bar */
.nav_bar{
  /* flex properties */
  display: flex;
  flex-direction: row;
  background-color: black;
  width: 100%;
}

.nav_bar .grid1{
  display: flex;
  flex-grow: 1;
}
.nav_bar .grid2{
  display: flex;
  flex-grow: 1;
  justify-content: center;
}
.nav_bar .grid3{
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

/* setting appearance of menu buttons */
.nav_item{
  color: white;
  background-color: black;
  text-decoration: none;
  padding: 16px;
}



.nav_item:hover{ color: black; background-color: white; }
#logo:hover{color: white; background-color: black;}

/* end of setting appearance of menu buttons */

/* setting properties of the dropdown menu in the bottom_nav_bar */
.dropdown_container {
  float: right;
  position: relative;
  display: inline-block;
}

.dropdown_contents {
  right: 0;
  display: none;
  position: absolute;
  background-color: darkslategrey;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown_contents a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown_contents a:hover {background-color: gainsboro;   color: black; }

.dropdown_container:hover .dropdown_contents {display: block;}

/************* setting the logo ****************************/
#logo_container{
  height: 40px;
  width: 40px;
}


/* end of setting properties of the dropdown menu in the bottom_nav_bar */

/* end of settings for the navigation bar */
